# path to the job database in the backend folder
DB_PATH=data/jobs.db # sample database path 

# url to the backend service
BACKEND_API_URL=http://backend:8000/chat # for automatic setup
# BACKEND_API_URL=http://127.0.0.1:8000/chat # for manual setup 

# to use gemini models (cloud)
GOOGLE_API_KEY=<your_google_api_key_here> # from Google AI Studio

# to use ollama models (local)
OLLAMA_HOST=http://host.docker.internal:11434 # for Docker containers
# OLLAMA_HOST=http://127.0.0.1:11434 # for manual setup
